{{!--
This footer template is shared across all the pages.
--}}

<footer class="m-footer">
  <div class="m-footer__content">
    <p class="m-footer-copyright">
      <span>{{@site.title}} &copy; {{date format="YYYY"}}</span>
    </p>

    <!-- <nav class="m-footer-social">
      {{#if @site.facebook}}
        <a href="{{facebook_url @site.facebook}}" target="_blank" rel="noopener" aria-label="Facebook">
          <span class="icon-facebook"></span>
        </a>
      {{/if}}
      {{#if @site.twitter}}
        <a href="{{twitter_url @site.twitter}}" target="_blank" rel="noopener" aria-label="Twitter">
          <span class="icon-twitter"></span>
        </a>
      {{/if}}
    </nav> -->
    <p class="m-footer-copyright jslicense">
      <div>{{t "When you click on our links you support us, as we may earn a small amount as revenue which will help us write more reviews. Thank you for keeping us afloat"}}</div>
    </p>
    <p class="m-footer-copyright jslicense">
      <br>
    </p>
    <p class="m-footer-copyright jslicense">
      <div>{{t "Made with tons of ♥"}}</div>
    </p>
  </div>
</footer>
